<div class="row article">
    <h1>Some side projects</h1>
    <div class="col-md-12 main">
      <h2>
        <a (click)="openDialog()" style="cursor: pointer">
          Reddit API Search
        </a> – A search engine that Uses RxJs and Observables. Search for cute cats and dogs!
      </h2>
      <h2>
        <a href="https://github.com/hander87/handerblad-angular">
          Handerblad Ng
        </a> – This site is now made entirely in Angular 6. You can find the source code in the
        GitHub link.
      </h2>

      <h2>
        <a href="https://github.com/hander87/handerblad/tree/master/src/weather">
          Weather Status
        </a> – What is the weather outside of my house? That is diplayed top right! Uses weather api and JS. (If not shown,
        the API is down)
      </h2>

      <h2>
        <a href="https://github.com/hander87/handerblad/tree/master/src/analogklocka">
          Analog clock
        </a> – A Javascript-powered clock that is in the top left corner.
      </h2>

      <h2>
        <a href="/awave/nano2017/">
          Front End Project
        </a> – A front-end adaption from this Photoshop-design (<a href="/img/awave-screenshot.png">link to image</a>) using
        Bootstrap 3.
      </h2>
      <h2>
        <a href="/p/thisorthat/">
          This or That
        </a> – Let you create Vote-pages, where you easily create a URL for different products your friends can vote for
        (PHP, cURL).
      </h2>
      <!--             <h2><a href="/magaziner/aftonbladet">Bättre Aftonbladet</a> – A site that curls aftonbladets latest articles and displays them nicer (cURL, XML). Dependant on external cron-script, so this might be empty.</h2>
            <h2><a href="/facebookbingo">Facebook Bingo</a> – Play Bingo with your facebook-feed (jQuery)</h2> -->
    </div>
  </div>
