<canvas id="canvas1"></canvas>
<div class="container">
  <div id="aclock">
    <div class="clockbox">
      <svg id="clock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600">
        <g id="face">
          <circle class="circle" cx="300" cy="300" r="253.9" />
          <path class="hour-marks" d="M300.5 94V61M506 300.5h32M300.5 506v33M94 300.5H60M411.3 107.8l7.9-13.8M493 190.2l13-7.4M492.1 411.4l16.5 9.5M411 492.3l8.9 15.3M189 492.3l-9.2 15.9M107.7 411L93 419.5M107.5 189.3l-17.1-9.9M188.1 108.2l-9-15.6"
          />
          <circle class="mid-circle" cx="300" cy="300" r="16.2" />
        </g>
        <g id="hour">
          <path class="hour-arm" d="M300.5 298V142" />
          <circle class="sizing-box" cx="300" cy="300" r="253.9" />
        </g>
        <g id="minute">
          <path class="minute-arm" d="M300.5 298V67" />
          <circle class="sizing-box" cx="300" cy="300" r="253.9" />
        </g>
        <g id="second">
          <path class="second-arm" d="M300.5 350V55" />
          <circle class="sizing-box" cx="300" cy="300" r="253.9" />
        </g>
      </svg>
    </div>
  </div>
  <div id="weather"></div>
  <div id="therm">
    <div id="hotness">
      <div id="hotness_white"></div>
    </div>
  </div>

  <div class="row" id="logo_cont">
    <div id="logo">
      <span class="small" id="small_title">Web Developer</span>
      <span class="small" id="small_img"><img id="profile_img" src="../assets/images/i.jpg" /></span>
      <span class="big" id="big_age">{{ age }}></span>
      <span class="big" id="big_h">Ha</span>
      <div id="left">
        <span class="small" id="small_hannes">Hannes Anderblad</span>
        <span class="small" id="small_age">1987</span>
        <span class="small" id="small_sthlm">Stockholm</span>
      </div>
    </div>
  </div>

  <div class="row">
    <h1>Hello!</h1>
    <div class="col-md-12 main">
      <p>I am a web developer with PHP, HTML/CSS, MySQL and Javascript/jQuery, integrated with Wordpress or MVC-­based framework.</p>
      <p>I have over five years of working in PHP and am right now studying full time to become a full stack Javascript developer
        (Angular, ReactJS, VueJS Node, Express, MongoDB etc).</p>
      <p>To find out if I am currently looking for work, check my <a href="https://www.linkedin.com/pub/hannes-anderblad/2a/b53/493">LinkedIn</a>.</p>
    </div>
  </div>

  <hr/>

  <div class="row work">
    <h1>Places of work</h1>
    <div class="col-md-6 main">
      <a href="http://scmsecure.com/" target="_blank">
        <h2>SCM Secure, 2015-2018</h2>
        <img class="logo_img" src="../assets/images/scm.jpg" />
      </a>
    </div>
    <div class="col-md-6 main">
      <a href="http://www.framtidsutveckling.se/" target="_blank">
        <h2>Framtidsutveckling AB, 2015</h2>
        <img class="logo_img" src="../assets/images/fra.png" />
      </a>
    </div>
    <div class="col-md-6 main">
      <a href="http://improveme.se/" target="_blank">
        <h2>Skönhetsportalen AB, 2013 - 2015</h2>
        <img class="logo_img" src="../assets/images/imp.png" />
      </a>
    </div>
    <div class="col-md-6 main">
      <a href="http://agigen.se/" target="_blank">
        <h2>Agile Generation AB, 2012</h2>
        <img class="logo_img" src="../assets/images/agi.png" />
      </a>
    </div>
  </div>

  <hr>

  <div class="row">

    <h1>Experience</h1>
    <div class="col-md-6 main">
      <h2>Languages</h2>
      <ul>
        <li>HTML5 + CSS</li>
        <li>PHP​­</li>
        <li>NodeJS</li>
        <li>MySQL/MongoDB​­</li>
        <li>JavaScript/jQuery</li>
      </ul>
    </div>
    <div class="col-md-6 main">
      <h2>CMS & Frameworks</h2>
      <ul>
        <li>Angular</li>
        <li>Wordpress​­</li>
        <li>Drupal​­</li>
        <li>Codeigniter​­</li>
        <li>CakePHP​­</li>
        <li>Zend Framework​­ </li>
      </ul>
    </div>

    <div class="col-md-6 main">
      <h2>Useful Tools</h2>
      <ul>
        <li>GITHUB</li>
        <li>Vagrant/Virtualbox</li>
        <li>GRUNTJS</li>
        <li>Adobe Photoshop Adobe Illustrator</li>
        <li>Bootstrap/Foundation CSS LESS</li>
        <li>RSS/Podcasting Mailchimp/Getanewsletter Google Analytics</li>
        <li>Google DFP/Analytics</li>
      </ul>
    </div>

    <div class="col-md-6 main">

      <h2>Education</h2>
        <ul>
          <li>Webbutveckling, serverside​ 7.5p, Stockholms universitet.</li>
          <li>IT, medier och design,​180p, Södertörns högskola. </li>
          <li>Mediainriktning,​International IT College of Sweden gymnasium.</li>
        </ul>

    </div>

  </div>

  <hr/>

  <div class="row videocourses">
    <h1>Courses that I like</h1>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a href="https://www.udemy.com/the-complete-guide-to-angular-2/" target="_blank">
        <img class="logo_img" src="https://udemy-images.udemy.com/course/240x135/756150_c033_2.jpg" />
        <h2> Angular 6 (formerly Angular 2) - The Complete Guide </h2>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a href="https://www.udemy.com/angular-reactjs-vuejs-quickstart-comparison/" target="_blank">
        <img class="logo_img" src="https://udemy-images.udemy.com/course/240x135/1208638_2604.jpg" />
        <h2> React JS, Angular & Vue JS - Quickstart & Comparison </h2>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a href="https://www.udemy.com/angular-2-and-nodejs-the-practical-guide" target="_blank">
        <img class="logo_img" src="https://udemy-images.udemy.com/course/240x135/833442_b26e_3.jpg" />
        <h2> Angular & NodeJS - The MEAN Stack Guide </h2>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a href="https://www.udemy.com/react-the-complete-guide-incl-redux/" target="_blank">
        <img class="logo_img" src="https://udemy-images.udemy.com/course/240x135/1362070_b9a1_2.jpg" />
        <h2> React 16 - The Complete Guide (incl. React Router 4 & Redux) </h2>
      </a>
    </div>
  </div>

  <hr>


  <div class="row article">
    <h1>Some side projects</h1>
    <div class="col-md-12 main">
      <h2>
        <a href="https://github.com/hander87/handerblad/tree/master/src/weather">
          Weather Status
        </a> – What is the weather outside of my house? That is diplayed top right! Uses weather api and JS. (If not shown,
        the API is down)
      </h2>

      <h2>
        <a href="https://github.com/hander87/handerblad/tree/master/src/analogklocka">
          Analog clock
        </a> – A Javascript-powered clock that is in the top left corner.
      </h2>

      <h2>
        <a href="/awave/nano2017/">
          Front End Project
        </a> – A front-end adaption from this Photoshop-design (<a href="/img/awave-screenshot.png">link to image</a>) using
        Bootstrap 3.
      </h2>
      <h2>
        <a href="/p/thisorthat/">
          This or That
        </a> – Let you create Vote-pages, where you easily create a URL for different products your friends can vote for
        (PHP, cURL).
      </h2>
      <!--             <h2><a href="/magaziner/aftonbladet">Bättre Aftonbladet</a> – A site that curls aftonbladets latest articles and displays them nicer (cURL, XML). Dependant on external cron-script, so this might be empty.</h2>
            <h2><a href="/facebookbingo">Facebook Bingo</a> – Play Bingo with your facebook-feed (jQuery)</h2> -->
    </div>
  </div>

  <hr>

  <div class="row">
    <h1><a href="/p/">Random portfolio</a></h1>
    <div class="col-md-12 main">
      <p>This is a folder with exercises and stuff I'm working on. Most of it won't work.</p>
    </div>
  </div>

  <hr>

  <p>
    Contact: <a href="https://www.linkedin.com/pub/hannes-anderblad/2a/b53/493">LinkedIn</a> | Code: <a href="https://github.com/hander87">GitHub</a>
  </p>
