<div class="row work">
    <h1>Places of work</h1>
    <div class="col-md-6 col-sm-6 col-xs-12 main">
      <a href="http://scmsecure.com/" target="_blank">
        <h2>SCM Secure, 2015-2018</h2>
        <img class="logo_img" src="../../assets/images/scm.jpg" />
      </a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 main">
      <a href="http://www.framtidsutveckling.se/" target="_blank">
        <h2>Framtidsutveckling AB, 2015</h2>
        <img class="logo_img" src="../../assets/images/fra.png" />
      </a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 main">
      <a href="http://improveme.se/" target="_blank">
        <h2>Skönhetsportalen AB, 2013 - 2015</h2>
        <img class="logo_img" src="../../assets/images/imp.png" />
      </a>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 main">
      <a href="http://agigen.se/" target="_blank">
        <h2>Agile Generation AB, 2012</h2>
        <img class="logo_img" src="../../assets/images/agi.png" />
      </a>
    </div>
  </div>
