<div class="row videocourses">
    <h1>Courses that I like</h1>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a target="_blank" href="https://www.udemy.com/the-complete-guide-to-angular-2/" target="_blank">
        <img class="logo_img" src="./assets/images/udemy_ang.jpg" />
        <h2> Angular 8+ (formerly Angular 2) - The Complete Guide </h2>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a target="_blank" href="https://www.udemy.com/angular-reactjs-vuejs-quickstart-comparison/" target="_blank">
        <img class="logo_img" src="./assets/images/udemy_compare.jpg" />
        <h2> React JS, Angular & Vue JS - Quickstart & Comparison </h2>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a target="_blank" href="https://www.udemy.com/angular-2-and-nodejs-the-practical-guide" target="_blank">
        <img class="logo_img" src="./assets/images/udemy_mean.jpg" />
        <h2> Angular & NodeJS - The MEAN Stack Guide </h2>
      </a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 cvids main">
      <a target="_blank" href="https://www.udemy.com/react-the-complete-guide-incl-redux/" target="_blank">
        <img class="logo_img" src="./assets/images/udemy_react.jpg" />
        <h2> React 16 - The Complete Guide (incl. React Router 4 & Redux) </h2>
      </a>
    </div>
  </div>
