<div class="row">

    <h1>Experience</h1>
    <div class="col-md-6 main">
      <h2>Languages</h2>
      <ul>
        <li>HTML5 + CSS with Bootstrap</li>
        <li>JavaScript/jQuery</li>
        <li>PHP​­</li>
        <li>NodeJS</li>
        <li>MySQL/MongoDB​­</li>
      </ul>
    </div>
    <div class="col-md-6 main">
      <h2>CMS & Frameworks</h2>
      <ul>
        <li>Angular</li>
        <li>Wordpress​­</li>
        <li>SlimPHP</li>
        <li>CakePHP</li>
      </ul>
    </div>

</div>
<div class="row">

    <div class="col-md-6 main">
      <h2>Useful Tools</h2>
      <ul>
        <li>GITHUB</li>
        <li>Vagrant/Virtualbox</li>
        <li>GRUNTJS</li>
        <li>Adobe Photoshop Adobe Illustrator</li>
        <li>RSS/Podcasting Mailchimp/Getanewsletter Google Analytics</li>
        <li>Google DFP/Analytics</li>
      </ul>
    </div>

    <div class="col-md-6 main">
      <h2>Education</h2>
        <ul>
          <li>Webbutveckling, serverside​ 7.5p, Stockholms universitet.</li>
          <li>IT, medier och design,​180p, Södertörns högskola. </li>
          <li>Mediainriktning,​International IT College of Sweden gymnasium.</li>
        </ul>
    </div>

  </div>
