<div class="row">
  <h1>Hello!</h1>
  <div class="col-md-12 main">
    <p>I am a web developer with PHP, HTML/CSS, MySQL and Javascript/jQuery, integrated with Wordpress or MVC-­based framework.</p>
    <p>I have over five years of working in PHP and am right now studying full time to become a full stack Javascript developer
      (Angular, ReactJS, VueJS Node, Express, MongoDB etc).</p>
    <p>To find out if I am currently looking for work, check my <a href="https://www.linkedin.com/pub/hannes-anderblad/2a/b53/493">LinkedIn</a>.</p>
  </div>
</div>
